header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding: 15px 0;
  z-index: 1000;
  @include transition(all 0.4s ease);
  &.background {
    background: $background;
    border-bottom: 1px solid $grey;
    padding: 0;
  }
  a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid transparent;
    color: $primary;
    &.link {
      padding: 5px 10px;
      margin: 10px 2px;
      @include transition(all 0.4s ease);
      &:hover {
        background: $background;
        border-color: $primary;
      }
    }
    &.logo {
      float: left;
    }
  }
}