@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin sm {
  @media screen and (min-width: 35.5em) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 48em) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 64em) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 80em) {
    @content;
  }
}