section.hero {
  max-height: 600px;
  overflow: hidden;
  padding: 200px 0;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  article {
    position: relative;
    text-transform: uppercase;
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.4em;
    }
    nav {
      border: 4px solid $primary;
      display: inline-block;
      a {
        display: inline-block;
        padding: 16px 18px;
        font-weight: 500;
        background: $background;
        color: $primary;
        &.dark {
          background: $primary;
          color: $background;
        }
      }
    }
  }
}

section.triplets {
  padding: 80px 0;
  .triplet {
    padding: 0 20px;
  }
  a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
}

section.singlet {
  padding: 80px 0;
  h2, h5, p {
    text-align: center;
  }
}