section.hero {
  max-height: 600px;
  overflow: hidden;
  padding: 200px 0;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  article {
    position: relative;
    text-transform: uppercase;
    h1 {
      text-align: center;
      @include sm {
        text-align: left;
        margin-left: 15px;
      }
      font-size: 2em;
    }
    h2 {
      text-align: center;
      font-size: 1.2em;
      @include sm {
        margin-left: 15px;
        text-align: left;
      }
      @include md {
        font-size: 1.4em;
      }
    }
    nav {
      font-size: 0;
      border: 4px solid $primary;
      display: block;
      margin: 15px;
      @include sm {
        margin-top: 30px;
      }
      @include md {
        display: inline-block;
      }
      a {
        text-align: center;
        display: block;
        padding: 10px 18px;
        font-weight: 500;
        background: $background;
        color: $primary;
        font-size: 16px;
        @include sm {
          padding: 15px 18px;
        }
        @include md {
          display: inline-block;
        }
        &.dark {
          background: $primary;
          color: $background;
        }
      }
    }
  }
}

section.triplets {
  padding: 40px 0;
  .triplet {
    padding: 40px 20px;
    text-align: center;
  }
  a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
}

section.singlet {
  padding: 80px 0;
  h2 {
    line-height: 3rem;
  }
  h2, h5, p {
    text-align: center;
  }
}

section.feature {
  padding: 70px;
  margin-bottom: 50px;
  background: $white;
  .left {
    display: none;
    float: left;
    margin-right: 30px;
    @include md {
      display: block;
    }
  }
}

section.trainings {
  padding: 30px 0;
}

section.consulting {
  background: url('./../img/bg1.png') top left no-repeat;
  padding: 180px 15px 30px;
  margin-top: -150px;
}

section.contact {
  padding: 70px;
  margin-bottom: 50px;
  background: $white;
  article {
    text-align: center;
  }
}