<section class="hero">
    <canvas id="canvas"></canvas>
    <article class="container">
        <h1>Dynamika we wzroście</h1>
        <h2>Aplikacje internetowe umożliwiają rozwinięcie szansy w realną przewagę</h2>
    </article>
</section>

<section class="white apps">
    <article class="pure-g container">
        <div class="pure-u-1">
            <h2>Systemy zarządzania</h2>
            <hr>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Zarządzanie przepływem informacji w firmie</h3>
            <h5>Pełna kontrola nad każdym aspektem</h5>
            <p>
                Każda informacja ma potencjał do wspomagania wzrostu firmy. Poprzez stworzenie odpowiedniego systemu monitorowania ich wymiany, możliwe jest ich maksymalne wykorzystanie.Dostarczenie właściwych informacji do poszczególnych działów przedsiębiorstwa zapewnia ich zwiększoną wydajność.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Integracja wewnętrznych systemów firmy</h3>
            <h5>Świetne osiągi dzięki jednolitej strukturze</h5>
            <p>
                Właściwa komunikacja zapewnia optymalny czas reakcji na szanse i zagrożenia jakie stoją przed firmą. Scalenie wielu odrębnych struktur w spójną całość, zwiększa szybkość wykonywanych zadań dzięki efektywnej cyrkulacji danych w całym procesie.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Przetwarzanie danych w informacje</h3>
            <h5>Precyzyjne rekordy w zasięgu ręki</h5>
            <p>
                Wszystkie dane przechodzące przez przedsiębiorstwo mogą być przekształcone w wartościowe informacje. Poprzez utworzenie właściwej architektury, jest możliwym pozyskiwanie takich wyników, a w efekcie dokonywanie bardziej precyzyjnych decyzji biznesowych.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Monitorowanie postępu prac nad projektem</h3>
            <h5>Efektywność w zarządzaniu</h5>
            <p>
                Każdy proces może być zoptymalizowany poprzez wprowadzenie adekwatnych narzędzi. Zwiększenie wydajności jest kwestią umiejętnego zarządzania częściami składowymi procesu.Rozbicie ich na wyraźne podzespoły, pozwala wyciągnąć ich maksymalną efektywność.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Zarządzanie relacjami z klientami</h3>
            <h5>Utrzymanie pozytywnych kontaktów</h5>
            <p>
                Zachowanie właściwego układu z kontrahentami wspomaga realizacji celów stojących przed firmą. Ich mnogość i różnorodność sprawia, że zadanie jest to utrudnione, jednak dzięki zastosowaniu odpowiedniej technologii możliwe jest zarządzanie oraz pozyskiwanie nowych klientów dzięki odpowiedniemu oprogramowaniu.
            </p>
        </div>
    </article>
</section>

<section class="white apps">
    <article class="pure-g container">
        <div class="pure-u-1">
            <h2>Aplikacje online</h2>
            <hr>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Permanentny dostęp dla klientów</h3>
            <h5>Zwiększone zaangażowanie zakupowe</h5>
            <p>
                Umiejętnie stworzona aplikacja skutecznie umożliwia klientowi stały dostęp do oferty firmy. Przejrzyste wykończenie interfejsu użytkownika znacząco zwiększa konwersję w stosunku do zakładanego  celu, a starannie zbudowana architektura zapewnia niezwykle płynne i bezawaryjne działanie.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Innowacyjny kanał dystrybucji</h3>
            <h5>Wzrost udziału w rynku</h5>
            <p>
                Aplikacje online są relatywnie młodym kanałem pozyskiwania klientów w, którym dzięki małej aktywności konkurencji istnieje duża szansa na zyskanie pozycji lidera. Odpowiednio rozplanowane wejście aplikacji na rynek pozwala również w znaczącym stopniu ograniczyć koszty jej promocji.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Pionierskie zastosowanie technologii</h3>
            <h5>Wydatna przewaga nad konkurencją</h5>
            <p>
                Zastosowanie najnowocześniejszej techniki, do pozyskiwania klientów zapewnia wysoką premię za pierwszeństwo. Klienci którzy przyzwyczają się do korzystania z aplikacji, są niechętni jej zamianie na konkurencyjny produkt.Dzięki temu tworzy się stała baza odbiorców, którzy są niezwykle trudni do przejęcia przez inną firmę.
            </p>
        </div>
    </article>
</section>

<section class="white apps">
    <article class="pure-g container">
        <div class="pure-u-1">
            <h2>Website content management system</h2>
            <hr>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Błyskawiczna modyfikacja zawartości</h3>
            <h5>Szybkie reakcja na zmienne warunki</h5>
            <p>
                Dzięki stałemu dostępowi do systemu, możliwa jest jego sprawna modyfikacja w każdej chwili. Daje to cenną elastyczność biznesu na zmienne warunki, a intuicyjna obsługa zapewnia wysoki komfort w trakcie korzystania.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Zmiana treści bez potrzeby programowania</h3>
            <h5>Pełna kontrola w trakcie obsługi</h5>
            <p>
                System modyfikacji treści są tworzone z myślą o użytkownikach, nie posiadających umiejętności programistycznych. Cały proces użytkowania opiera się na klarownie zbudowanym interfejsie w efekcie zwiększając wydajność przy jednoczesnym zmniejszeniu kosztów obsługi.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Oprogramowanie skrojone na miarę</h3>
            <h5>Efektywniejsza realizacja wyznaczonych zadań</h5>
            <p>
                Tworzenie aplikacji zarządzającej treścią z uwzględnieniem specyfiki danego biznesu, daje znacznie lepsze rezultaty niż zastosowanie rozwiązań ogólnych. Poprzez szczegółową analizę potrzeb danego biznesu, możliwe jest stworzenie systemu o ponadprzeciętnej skuteczności w spełnianiu założonych przed nim celów.
            </p>
        </div>
    </article>
</section>

<section class="white apps">
    <article class="pure-g container">
        <div class="pure-u-1">
            <h2>E-commerce</h2>
            <hr>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Analiza zachowań użytkowników</h3>
            <h5>Lepsze rozpoznanie potrzeb klientów</h5>
            <p>
                Moduł analityczny zbiera dane o zachowaniach klientów i przetwarza je na czytelne informacje. Dzięki temu możliwe jest udoskonalanie zarówno produktu jak i całego procesu zakupowego.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Rozszerzenie zakresu działalności</h3>
            <h5>Zwiększona rozpoznawalność marki</h5>
            <p>
                Wejście na rynek internetowy łączy się z silniejszą ekspozycją marki, czyniąc ją bardziej rozpoznawalną przez potencjalnych klientów. Wyższa znajomość w stosunku do konkurencji, zwiększa szansę na wzrost konwersji w relacji do zakładanego celu.
            </p>
        </div>
        <div class="pure-u-1-3 cell">
            <h3>Nowy kanał sprzedaży</h3>
            <h5>Większa baza klientów</h5>
            <p>
                Dobrze zaprojektowany sklep internetowy, umożliwia dynamiczny wzrost sprzedaży przy relatywnie niskich kosztach obsługi. Właściwe rozplanowanie procesu budowy oraz jego promocji, jest w stanie znacząco zwiększyć zasięg i rentowność.
            </p>
        </div>
    </article>
</section>