<section class="hero">
    <canvas id="canvas"></canvas>
    <article class="container">
        <h1>Pewność w rozwoju</h1>
        <h2>Seria rygorystycznych testów<br>wykazuje silne i słabe aspekty strony internetowej</h2>
    </article>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-security"></div>
            <h3 class="ng-binding">Pełnia bezpieczeństwa</h3>
            <h5 class="ng-binding">Stabilność w rozwoju</h5>
            <p class="ng-binding">
                Audyt poprzez weryfikację kodu, umożliwia wzmocnienie zabezpieczeń strony przed zewnętrznymi atakami. Włamanie wielokrotnie prowadzi do utraty poufnych informacji, wysokich kosztów ich odzyskania, znacznych strat wizerunkowych a nawet kradzieży danych bankowych.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-performance"></div>
            <h3 class="ng-binding">Zoptymalizowana wydajność</h3>
            <h5 class="ng-binding">Wyższa produktywność</h5>
            <p class="ng-binding">
                Poprzez zlokalizowanie punktów obciążających stronę internetową, możliwe jest zwiększenie jej efektywności. Przekłada się to na silny wzrost konwersji i zaangażowania potencjalnych klientów.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-structure"></div>
            <h3 class="ng-binding">Efektywna hierarchia treści</h3>
            <h5 class="ng-binding">Zwiększony odzew klientów</h5>
            <p class="ng-binding">
                Klarowna struktura strony wzmaga zaangażowanie potencjalnych klientów.Optymalny układ treści minimalizuje opuszczenia strony, dzięki czemu wzrasta liczba chętnych klientów.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-quality"></div>
            <h3 class="ng-binding">Niezawodne funkcjonowanie</h3>
            <h5 class="ng-binding">Komfort dzięki jakości</h5>
            <p class="ng-binding">
                Poprzez wnikliwą analizę kodu źródłowego, audyt pozwala na dostosowanie kodu do  najbardziej wymagających standardów. W efekcie jej prezencja jest doskonała, niezależnie od stosowanej przeglądarki czy urządzenia. Zgodność z wysokimi standardami daje pewność, że strona będzie bezbłędnie funkcjonować w każdych warunkach.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-accessibility"></div>
            <h3 class="ng-binding">Przejrzysty dostęp</h3>
            <h5 class="ng-binding">Szerszy zasięg</h5>
            <p class="ng-binding">
                Wdrożenie rozwiązań opartych na standardzie WCAG 2.0 rekomendowanym przez Ministerstwo Administracji i Cyfryzacji ułatwia osobom niepełnosprawnym korzystać z zasobów strony. Wprowadzenie zalecanych elementów skutecznie zwiększa konkurencyjność strony.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-seo"></div>
            <h3 class="ng-binding">Wysoka pozycja w Google</h3>
            <h5 class="ng-binding">Widoczność na tle konkurencji</h5>
            <p class="ng-binding">
                Udoskonalenie strony pod kątem jej ewaluacji przez algorytm wyszukiwarek, przekłada się na dynamiczną poprawę pozycji w rankingu. Optymalizacja indeksowanych treści zwiększa zasięg strony i liczbę zainteresowanych klientów.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-responsiveness"></div>
            <h3 class="ng-binding">Nienaganna prezencja</h3>
            <h5 class="ng-binding">Pierwsze wrażenie</h5>
            <p class="ng-binding">
                Poprzez analizę zachowania strony na wielu rodzajach urządzeń wyświetlających,uzyskuje się pewność, że jest ona w pełni responsywna. Dzięki temu użytkownicy mogą bez przeszkód zapoznać się z ofertą firmy.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-loadtest"></div>
            <h3 class="ng-binding">Płynność w działaniu</h3>
            <h5 class="ng-binding">Odporność na przeciążenia</h5>
            <p class="ng-binding">
                Strona jest poddawana serii stress testów, przez co wykazuje się jej przygotowanie na gwałtowny wzrost liczby odwiedzających. Pozwala to zabezpieczyć ją przed zawieszeniem przy nadmiernym obciążenie a w efekcie utracie części klientów.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-reports"></div>
            <h3 class="ng-binding">Przejrzysty raport</h3>
            <h5 class="ng-binding">Znajomość mocnych i słabych stron</h5>
            <p class="ng-binding">
                Każda wykryta podczas audytu wada jest precyzyjnie dokumentowana. Ocenia się jej wpływ na jakość strony oraz stopień trudności naprawy. W raporcie znajdują się także wskazówki, które ułatwiają pracę specjalistom zajmującym się usuwaniem wykrytych nieprawidłowości.
            </p>
        </div>
    </div>
</section>