<section class="hero">
    <canvas id="canvas"></canvas>
    <article class="container">
        <h1>Jakość Online</h1>
        <h2>Audyt stron internetowych potwierdza<br>ich Rzetelne wykonanie i Skuteczność</h2>
    </article>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-security"></div>
            <h3 class="ng-binding">Bezpieczeństwo</h3>
            <h5 class="ng-binding">Bezpieczeństwo</h5>
            <p class="ng-binding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pellentesque purus, eget dictum tellus. Vestibulum quis ligula risus. Suspendisse molestie lectus aliquam mauris facilisis, vel vulputate orci euismod. Quisque at quam ac enim scelerisque vehicula convallis ut turpis. Nullam vel maximus magna, id accumsan augue. In hac habitasse platea dictumst. Proin sit amet leo at nisl faucibus elementum egestas a mauris.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-performance"></div>
            <h3 class="ng-binding">Wydajność</h3>
            <h5 class="ng-binding">Wydajność</h5>
            <p class="ng-binding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pellentesque purus, eget dictum tellus. Vestibulum quis ligula risus. Suspendisse molestie lectus aliquam mauris facilisis, vel vulputate orci euismod. Quisque at quam ac enim scelerisque vehicula convallis ut turpis. Nullam vel maximus magna, id accumsan augue. In hac habitasse platea dictumst. Proin sit amet leo at nisl faucibus elementum egestas a mauris.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-structure"></div>
            <h3 class="ng-binding">Struktura</h3>
            <h5 class="ng-binding">Struktura</h5>
            <p class="ng-binding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pellentesque purus, eget dictum tellus. Vestibulum quis ligula risus. Suspendisse molestie lectus aliquam mauris facilisis, vel vulputate orci euismod. Quisque at quam ac enim scelerisque vehicula convallis ut turpis. Nullam vel maximus magna, id accumsan augue. In hac habitasse platea dictumst. Proin sit amet leo at nisl faucibus elementum egestas a mauris.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-quality"></div>
            <h3 class="ng-binding">Jakość wykonania</h3>
            <h5 class="ng-binding">Jakość wykonania</h5>
            <p class="ng-binding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pellentesque purus, eget dictum tellus. Vestibulum quis ligula risus. Suspendisse molestie lectus aliquam mauris facilisis, vel vulputate orci euismod. Quisque at quam ac enim scelerisque vehicula convallis ut turpis. Nullam vel maximus magna, id accumsan augue. In hac habitasse platea dictumst. Proin sit amet leo at nisl faucibus elementum egestas a mauris.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-accessibility"></div>
            <h3 class="ng-binding">Dostępność</h3>
            <h5 class="ng-binding">Dostępność</h5>
            <p class="ng-binding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pellentesque purus, eget dictum tellus. Vestibulum quis ligula risus. Suspendisse molestie lectus aliquam mauris facilisis, vel vulputate orci euismod. Quisque at quam ac enim scelerisque vehicula convallis ut turpis. Nullam vel maximus magna, id accumsan augue. In hac habitasse platea dictumst. Proin sit amet leo at nisl faucibus elementum egestas a mauris.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-seo"></div>
            <h3 class="ng-binding">Optymalizacja SEO</h3>
            <h5 class="ng-binding">Optymalizacja SEO</h5>
            <p class="ng-binding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pellentesque purus, eget dictum tellus. Vestibulum quis ligula risus. Suspendisse molestie lectus aliquam mauris facilisis, vel vulputate orci euismod. Quisque at quam ac enim scelerisque vehicula convallis ut turpis. Nullam vel maximus magna, id accumsan augue. In hac habitasse platea dictumst. Proin sit amet leo at nisl faucibus elementum egestas a mauris.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-responsiveness"></div>
            <h3 class="ng-binding">Responsywność</h3>
            <h5 class="ng-binding">Responsywność</h5>
            <p class="ng-binding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pellentesque purus, eget dictum tellus. Vestibulum quis ligula risus. Suspendisse molestie lectus aliquam mauris facilisis, vel vulputate orci euismod. Quisque at quam ac enim scelerisque vehicula convallis ut turpis. Nullam vel maximus magna, id accumsan augue. In hac habitasse platea dictumst. Proin sit amet leo at nisl faucibus elementum egestas a mauris.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-loadtest"></div>
            <h3 class="ng-binding">Testy obciążeniowe</h3>
            <h5 class="ng-binding">Testy obciążeniowe</h5>
            <p class="ng-binding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pellentesque purus, eget dictum tellus. Vestibulum quis ligula risus. Suspendisse molestie lectus aliquam mauris facilisis, vel vulputate orci euismod. Quisque at quam ac enim scelerisque vehicula convallis ut turpis. Nullam vel maximus magna, id accumsan augue. In hac habitasse platea dictumst. Proin sit amet leo at nisl faucibus elementum egestas a mauris.
            </p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="left icon-reports"></div>
            <h3 class="ng-binding">Przejrzysty raport</h3>
            <h5 class="ng-binding">Przejrzysty raport</h5>
            <p class="ng-binding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pellentesque purus, eget dictum tellus. Vestibulum quis ligula risus. Suspendisse molestie lectus aliquam mauris facilisis, vel vulputate orci euismod. Quisque at quam ac enim scelerisque vehicula convallis ut turpis. Nullam vel maximus magna, id accumsan augue. In hac habitasse platea dictumst. Proin sit amet leo at nisl faucibus elementum egestas a mauris.
            </p>
        </div>
    </div>
</section>