<section class="hero">
    <canvas id="canvas"></canvas>
    <article class="container">
        <h1>Rozwiązania IT klasy premium</h1>
        <h2>Perfekcja to nasz standard</h2>
        <nav>
            <a class="dark" ng-click="HC.scroll()">Sprawdź naszą ofertę</a>
            <a ui-sref="contact">Zadaj nam pytanie</a>
        </nav>
    </article>
</section>

<section class="white triplets">
    <div class="pure-g container">
        <div class="pure-u-1 pure-u-md-1-3 triplet">
            <h5>Przewaga w wizerunku</h5>
            <h3>Projektowanie stron WWW</h3>
            <p>Poszukiwanie wybitnych rozwiązań jest impulsem, który inspiruje nas do pracy. Harmonijne połączenie najnowszych technologii z efektywną estetyką, jest tym dzięki czemu tworzymy  projekty wyjątkowe. Poprzez wysokie standardom pracy oraz ukierunkowanie na wymagania klienta,  zyskujemy dostępny dla nielicznych luksus przewagi nad konkurencją.</p>
            <a ui-sref="web">Czytaj dalej</a>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 triplet">
            <h5>Efektywność dzięki technologii</h5>
            <h3>Aplikacje internetowe</h3>
            <p>Prawdziwi wizjonerzy widzą początek drogi, tam gdzie inni widzą jej koniec. To niepodważalne przekonanie powoduje, że odkrywają świat nadzwyczajnych możliwości. Wykorzystując je efektywnie stają się wzbudzającymi podziw innowatorami w swojej dziedzinie. W naszej wizji najnowszej generacji  technologia skutecznie pracuje, na rzecz swoich twórców czyniąc ich niedościgłymi liderami.</p>
            <a ui-sref="apps">Czytaj dalej</a>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 triplet">
            <h5>Pewność w rozwoju</h5>
            <h3>Audyt stron www</h3>
            <p>Dbałość o każdy detal to cecha, która wyraźnie oddziela wybitnych od przeciętnych. Jedynie najwyższa jakość zapewnia nam bezpieczeństwo. Znajomość swoich silnych i słabych stron, pozwala nam stabilnie rozwijać swoje pomysły, z dala od wszelkich zagrożeń. Rygorystyczne testy dają nam pewność w stosowanych rozwiązaniach i pozwalają wybić w swojej dyscyplinie.</p>
            <a ui-sref="audit">Czytaj dalej</a>
        </div>
    </div>
</section>

<section class="singlet">
    <div class="pure-g container">
        <div class="pure-u-1">
            <h2>Maksymalna efektywność</h2>
            <p>Świadomość posiadanych możliwości to fundament w budowie swojej marki. Wykorzystanie zewnętrznej wiedzy oraz doświadczenia, pozwala przekroczyć wszelkie bariery i odkryć pełnię jej potencjału.</p>
        </div>
    </div>
</section>