<section class="hero">
    <canvas id="canvas"></canvas>
    <article class="container">
        <h1>Przewaga w technologii</h1>
        <h2>Zastosowanie najnowocześniejszych osiągnięć<br>pozwala zdobyć rynek internetowy</h2>
    </article>
</section>

<section class="feature">
    <div class="pure-g container">
        <div class="pure-u-1">
            <div class="right icon-responsiveness2"></div>
            <h3 class="ng-binding">Pełna responsywność</h3>
            <h5 class="ng-binding">Większy udział w rynku</h5>
            <p class="ng-binding">
                Strony zgodne z RWD (ang. Responsive Web Design) automatycznie dostosowują wyświetlaną zawartość to rozmiaru obsługującego je urządzenia. Przejrzysty układ treści zapewnia doskonałe wrażenia użytkownikom. Zgodnie z polityką Google Inc. Strony projektowane w standardzie RWD mają pierwszeństwo w wynikach wyszukiwania.
            </p>
        </div>
    </div>
</section>

