<!DOCTYPE html>
<html ng-app="vf">
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Verifront - Audyt stron internetowych, Szkolenia, Konsulting IT</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/verifront.min.css">
</head>

<body>
<header>
    <nav class="container">
        <a class="logo">
            <div class="icon-logo"></div>
        </a>
        <a class="link">Audyt stron www</a>
        <a class="link">Szkolenia IT</a>
        <a class="link">Konsulting</a>
        <a class="link">Kontakt</a>
    </nav>
</header>

<section class="hero">
    <canvas id="canvas"></canvas>
    <article class="container">
        <h1>Jakość Online</h1>
        <h2>Audyt stron internetowych potwierdza<br>ich Rzetelne wykonanie i Skuteczność</h2>
        <nav>
            <a class="dark">Dowiedz się więcej</a>
            <a>Zapytaj o audyt</a>
        </nav>
    </article>
</section>

<section class="white triplets">
    <div class="pure-g container">
        <div class="pure-u-1-3 triplet">
            <h5>Bezpieczeństwo, SEO, Wydajność</h5>
            <h3>Audyt stron www</h3>
            <p>Strona internetowa to wizytówka firmy dostępna 24 godziny na dobę z dowolnego miejsca na świecie. Rzetelnie przygotowana strona o wysokiej dostępności może poprawić wizerunek marki. Nieprofesjonalna strona, która zawiera błędy będzie odstraszać klientów i silniki wyszukiwarek.</p>
            <a>Czytaj dalej</a>
        </div>
        <div class="pure-u-1-3 triplet">
            <h5>Szkolenia w grupach i indywidualne</h5>
            <h3>Szkolenia IT</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida leo nec dolor venenatis, vitae feugiat est aliquet. Nullam tristique massa nisl, ut bibendum tortor placerat at. Nunc odio ante, blandit eget blandit non, eleifend vitae purus. Duis congue ultricies nisl ac venenatis.</p>
            <a>Czytaj dalej</a>
        </div>
        <div class="pure-u-1-3 triplet">
            <h5>Architektura rozwiązań</h5>
            <h3>Konsulting</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida leo nec dolor venenatis, vitae feugiat est aliquet. Nullam tristique massa nisl, ut bibendum tortor placerat at. Nunc odio ante, blandit eget blandit non, eleifend vitae purus. Duis congue ultricies nisl ac venenatis.</p>
            <a>Czytaj dalej</a>
        </div>
    </div>
</section>

<section class="singlet">
    <div class="pure-g container">
        <div class="pure-u-1">
            <h2>Doskonałość od dzisiaj</h2>
            <p>Strona internetowa to wizytówka firmy dostępna 24 godziny na dobę z dowolnego miejsca na świecie. Rzetelnie przygotowana strona o wysokiej dostępności może poprawić wizerunek marki. Nieprofesjonalna strona, która zawiera błędy będzie odstraszać klientów i silniki wyszukiwarek.</p>
        </div>
    </div>
</section>

<div class="veil"></div>
<div class="lightveil"></div>
<script src=./js/verifront.min.js></script>
</body>
</html>