<!DOCTYPE html>
<html ng-app="vf" ng-cloak>
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Verifront - Audyt stron internetowych, Szkolenia, Konsulting IT</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/verifront.min.css">
</head>

<body>
<header ng-controller="HeaderController as header" ng-class="{background: header.bg}">
    <nav class="container">
        <a class="logo" ui-sref="/">
            <div class="icon-logo"></div>
        </a>
        <a class="link" ui-sref="web">Projektowanie stron</a>
        <a class="link" ui-sref="apps">Aplikacje internetowe</a>
        <a class="link" ui-sref="audit">Audyt www</a>
        <a class="link" ui-sref="contact">Kontakt</a>
    </nav>
</header>

<ui-view ng-cloak></ui-view>

<footer>
    <div class="pure-g container">
        <article class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="icon-logo-flip"></div>
            <address>info@verifront.pl</address>
            <span>+48 886 992 991</span>
            <address>Wiśniowa 12</address>
            <address>45-110 Opole</address>
            <aside>&copy; Verifront 2015</aside>
        </article>
        <div class="lighter pure-u-1 pure-u-sm-1-3 pure-u-md-1-2 pure-u-lg-1-4">
            <h4>Oferta</h4>
            <nav>
                <a ui-sref="web">Projektowanie stron www</a>
                <a ui-sref="apps">Aplikacje internetowe</a>
                <a ui-sref="audit">Audyt stron www</a>
                <a ui-sref="contact">Kontakt</a>
            </nav>
        </div>
        <div class="lighter pure-u-1 pure-u-sm-1-3 pure-u-md-1-2 pure-u-lg-1-4">
            <h4>Informacje</h4>
            <nav>
                <a>O firmie</a>
                <a>Polityka prywatności</a>
                <a>Regulamin</a>
            </nav>
        </div>
        <div class="lighter pure-u-1 pure-u-sm-1-3 pure-u-md-1-2 pure-u-lg-1-4">
            <h4>Społeczność</h4>
            <nav>
                <a class="social linkedin">LinkedIn</a>
            </nav>
        </div>
    </div>
</footer>

<div class="veil"></div>
<div class="lightveil"></div>
<script src=./js/verifront.min.js></script>
</body>
</html>